<div class="content-wrapper">
<div class = "pase">
<h1 class = "pase_name">マイページ</h1>

<% if current_user.gender == "male" %>
あなたの投稿一覧
<% else %>
あなたがコメントした投稿一覧
<% end %>

<br class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <p class="box7">title:   <%= post.title%><br><br>
        content: <%= post.content.truncate(40) %>
        <%= link_to("もっと見る", "/posts/#{post.id}") %></p>
      </div>
    <% end %>
  </div>
</div>
<br>
</div>
