<div id = "top_page" class="content-wrapper" style="background-image:url(/background_img.jpg); margin:0;">
  <div id="top_page" class="top_config">
    <div class="top_title">
      <h1 class="top-title">TOP</h1>
    </div><!--top_title-->
  </div>
</div>
