<div id="top_page" class="top_config">
  <div class="row top_img">
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-8 title_issue">
      <div class="top_introduction">
        <div class="margin fuwat">
          <h2 id = "animation" class ="h2_title">そっと支える</h2>
        <div class="fuwat">
          <h2 id = "animation" class ="h2_title">一歩踏み出す</h2>
        <div class="fuwat">
          <h2 id = "animation" class ="h2_title">アトオス</h2>
        </div>
        </div>
        </div>
        <% if current_user == nil%>
          <a href = "/users/auth/facebook">
            <button type="button" class="btn btn-default btn-lg btn-top-facebook">
              Facebookでログイン
            </button>
          </a>
        <% else %>
          <div class="margin-last">
          </div>
        <% end %>
        <br>
      </div>
    </div>
  </div>
  <div class="row top_color">
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-8 title_issue">
      <div class="top_introduction">
        <h3 class = "second_section_title">アトオスとは</h3>
        <p class = "facebook-introduction">このサービスは、恋愛において悩み、疑問を抱えている男性に対して、
        女性からリアルな意見をフィードバックとしてもらい、男性の恋愛に関する悩み解決を後押しするサービスです。
        Facebook認証でログインしてもらった方々のみ使用することができ、
        完全匿名制となっておりますので、ご安心してお使いいただけます。</p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Facebook認証にこだわる理由
        </button>
        <div class="collapse" id="collapseExample">
          <div class="well">
            <p>サービスの性別における確実性を向上するため、Facebook認証でログインしてもらった方々のみ使用することができます。</p>
            <p>Facebookからは性別,メールアドレスのみの取得となっております。</p>
            <p>サービス向上のため、ご協力よろしくお願いいたします。</p>
          </div>
        </div>
        <div style = "margin:5%;"></div>
      </div>
    </div>
  </div><!--row-->
  <div class="row jendar-color">
    <div class="col-md-12">
      <div class = "jendar_introduction">
          <div class="col-md-6 woman-background">
                <div class = "woman-introduction">
                  <h3 class = "jendar-respect">Lady</h3>
                  <p>世の中の男性の悩みを知りたくないですか？</p>
                  <p>世の中の男性を紳士にする手助けをお願いします！</p>
                  <p>女性の皆さん、ぜひ男性の悩みの支えとなってあげてください！</p>
                </div>
          </div>
          <div class="col-md-6 man-background">
                <div class = "man-introduction">
                  <h3 class = "jendar-respect">Gentleman</h3>
                  <p>恋愛に対していろんな悩み抱えてませんか？もしくは溜め込んでいませんか？</p>
                  <p>このサービスを通して、女性のことを理解し紳士的で素敵な男性になることをスタッフ一同願っております！</p>
                  <p>男性の皆さん、悩みを抱えこまず、一歩踏み出して投稿しましょう！</p>
                </div>
          </div>
      </div>
    </div>
  </div>
</div>
