<!--<div id = "top_page" class="content-wrapper" style="background-image:url(/background_img.jpg); margin:0;">
  <div class="page-header clear-filter" filter-color="LightGreen">-->
    <div id="top_page" class="top_config">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-8 title_issue">
          <div class="top_title">
            <h2 class ="h2_title">そっと支える。一歩踏み出す。アトオス。</h2>
            <p>男性のみなさん、恋愛に対していろんな悩み抱えてませんか？もしくは溜め込んでいませんか？</p>

            <p>女性のみなさん、世の中の男性の悩みを知りたくないですか？</p>

            <p>このサービスは、恋愛において悩み、疑問を抱えている男性に対して、
            女性からリアルな意見をフィードバックとしてもらい、男性の恋愛に関する悩み解決を
            後押しするサービスです。</p>

            <p>男性の皆さん、悩みを抱えこまず、一歩踏み出して投稿しましょう！</p>
            <p>女性の皆さん、ぜひ男性の悩みの支えとなってあげてください！</p>
          </div><!--top_title-->
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>

      </div><!--row-->
    </div>
  </div>
</div>
