<%= form_tag("/posts/#{post_id}/replies") do %>
  <% if current_user && current_user.gender == "female" %>
    <div class="form">
      <div class="form-comment">
        コメント:<br>
        <textarea name="comment"></textarea>
        <input type="hidden" name="p_id" value=0>
        <input type="submit" value="コメントする" class="button">
      </div>
    </div>
  <% end %>
<% end %>
