<h1>投稿一覧</h1>

<br class="main posts-index">
<%= link_to("新規投稿する","/posts/new")%>
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        title:   <%= post.title%><br>
        content: <%= post.content.truncate(40) %>
        <%= link_to("もっと見る", "/posts/#{post.id}") %> <br>
        ---------------------------------------------------------------------------------------
      </div>
    <% end %>
  </div>
</div>
<br>
