<div class = "pase">
<h1 class = "pase_name">投稿一覧</h1>


<br class="main posts-index">
<% if current_user %>
  <% if current_user.gender == "male" %>
    <%= link_to("悩みを相談する","/posts/new", class: "btn btn-default btn-lg")%>
  <% end %>
<% end %>



  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        タイトル:   <%= post.title%><br>
        内容: <%= post.content.truncate(40) %>
        <%= link_to("もっと見る", "/posts/#{post.id}") %> <br>
        ---------------------------------------------------------------------------------------
      </div>
    <% end %>

  </div>
</div>
<br>
