<h1>投稿一覧</h1>

<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        title:   <%= post.title %> <br>
        content: <%= post.content.truncate(20) %>
        <%= link_to("もっと見る", "/posts/#{post.id}") %> <br>
        ---------------------------------------------------------------------------------------
      </div>
    <% end %>
  </div>
</div>
<br>
<a href="/posts/new"> 新規投稿ページ </a>
