<h1>投稿一覧</h1>

<br class="main posts-index">
<%= link_to("新規投稿する","/posts/new")%><pre></pre>
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        title:   <%= post.title%><br>
        content: <%= post.content.truncate(40) %>
        <%= link_to("もっと見る", "/posts/#{post.id}") %> <br>
        ---------------------------------------------------------------------------------------
      </div>
    <% end %>
  </div>
</div>
<br>
<<<<<<< HEAD

=======
<a href="/posts/new" class="btn btn-primary"> 新規投稿ページ </a>
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle first element</a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle second element</button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
  </div>
</div>
>>>>>>> 2e0ecc089438e2fe84dbebe6a0948d60859b84ad
