<div class="content-wrapper">
<div class = "pase">
<h1 class = "pase_name">投稿一覧</h1>


<br class="main posts-index">
<% if current_user %>
  <% if current_user.gender == "male" %>
  <% end %>
<% end %>


  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <p class="box7">タイトル:   <%= post.title%><br>
        内容: <%= post.content.truncate(40) %>
        <%= link_to("もっと見る", "/posts/#{post.id}") %></p>
        ---------------------------------------------------------------------------------------
      </div>
    <% end %>

  </div>
</div>
<br>
</div>
