<h1> 新規投稿 </h1>
 <div class="main posts-new">
   <div class="container">
     <p class="form-heading"></p>

     <%= form_tag("/posts", method: :post) do %>
       <div class="form">
         <div class="form-title">
           title:<br>
           <textarea name="title"></textarea>
         </div>

         <div class="form-body">
           content:<br>
           <textarea name="content"></textarea>
           <input type="submit" value="投稿">
         </div>
       </div>
     <% end %>
   </div>
 </div>
<%= link_to("投稿一覧ページ","/")%>


