<head>
  <%= stylesheet_link_tag    'new' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

<!--最小限のビューポート設定-->
<meta name="viewport" content="width=device-width">
</head>

<body>
<ul class="page">
<li class="center"> 悩みを投稿する</li>
<!--<img src="/tori.jpg" width="50" height="50" class="logo">-->
<li class="Button Radius5" id="IconList1">
  <%= link_to("く","/")%>
  </li>
</ul>
<form>
 <div class="main posts-new">
   <div class="container">
     <p class="form-heading"></p>
     <%= form_tag("/posts", method: :post) do %>
       <div class="form">
         <div class="form-title">
           <span class="aaa">タイトル</span>
           <textarea name="title" class="round_off" rows="2" cols="60"></textarea>
         </div>

         <div class="form-body">
           <span class="aaa">内容</span>
           <textarea name="content" class="round_off" rows="5" cols="60"></textarea>
         </div>
        <!-- <div class="form-tag">
         <span class="aaa"> タグ </span>
         <textarea name="content" class="round_off" rows="2" cols="60"></textarea>
       </div> -->
       </div>
     <% end %>
   </div>
 </div>
 </form>
 <li class="contribution"> <input type="submit" value="投稿"></li>
<!--<%= link_to("投稿内容がうまく書けない方はこちら","/")%>-->
</body>
