/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
//<<<<<<< HEAD
 main{
  margin-top: 13vh;
}



.header{
  height:20vh;
}

.header_area {
  position: fixed; /* 固定 */
  top: 0; /* 一番上に表示 */
  width: 100%; /* 中央に表示 */
}

.header_block {
  background: white;
}

.header_box {
  margin: auto auto;
}

.header_box h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu{
  float: right;

}

.logo{
  display: table-cell;
	vertical-align: middle;
}

img.menu-logo{
  z-index: 30;
  margin-right: 5%;
  height:10vh;
}

img.menubar-logo{
  height:10vh;

}

img.logo{
  z-index:10;
  height:10vh;
}

.sidebar{
  position: fixed;
  color: #fff; /* 好みに応じて調節してください*/
  z-index: 5;
}

.sidebar.right {
  top: 0;
  right: 0;
  bottom: 0;
  width: 20vw;
  background: #ffa265;
  color:white;
}



ul.menu_sidebar{
  display: block;
  margin: 0;
　padding: 0;
　text-align: center;
　list-style-type: none;
}

ul.menu_sidebar li.menu_list{
  display: inline;
}

li.menu_list{
  display: block;
  text-decoration-style:  none;
  color: #fff;
  border-top: 1px solid #fff;
  background-color: #ffa265;
  width:20vw;
  height: 10vh;
}

li.menu_last{
  border-bottom: 1px solid #fff;
}

ul.menu_sidebar li.menu_list a:hover{
  color: #fff;
　background-color: #000000;
}

.row{
  text-align: center;
}
//=======

// デザインができるまで仮のcss。できたら消してもOK!
// ヘッダーみたいに横並びにする
ul{
  display: inline;
  float: none;
  li{
    float: right;
    padding-right: 0;
    padding-top: 15px;
  }
}
//>>>>>>> 810bf8ac3febc6ef5d61dbfb1aa140e66d66f1b4
