/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
//<<<<<<< HEAD
h1{
  margin-top: 13%;
}

.header{

}

.header_area {
  position: fixed; /* 固定 */
  top: 0; /* 一番上に表示 */
  width: 100%; /* 中央に表示 */
}

.header_block {
  background: white;
}

.header_box {
  margin: auto auto;
}

.header_box h1 {
  margin: 0;
  padding: 20px 0;
  font-size: 34px;
  text-align: center;
}

.menu{
  float: right;

}

.logo{
  display: table-cell;
	vertical-align: middle;
}

img.menu-logo{
  z-index: 30;
}

img.logo{
  z-index:10;
}

.sidebar{
  position: fixed;
  color: #fff; /* 好みに応じて調節してください*/
  z-index: 5;
}

.sidebar.right {
  top: 0;
  right: 0;
  bottom: 0;
  width: 270px;
  background: #FFA500;
  color:white;
}

//=======

// デザインができるまで仮のcss。できたら消してもOK!
// ヘッダーみたいに横並びにする
ul{
  display: inline;
  float: none;
  li{
    float: right;
    padding-right: 25px;
    padding-top: 15px;
  }
}
//>>>>>>> 810bf8ac3febc6ef5d61dbfb1aa140e66d66f1b4
