body{
  font-family: 'Hiragino Maru Gothic ProN' !important;
}
.content-wrapper h1{
  margin: 0 !important;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 30px;
}
.templete_copyright {
  float:right;
}
.logo-lg img{
  height: -webkit-fill-available;
}
.logo-mini img{
  height: 100%;
  float: left;
}
img.user-image{
  background-color: white;
}

.message-alert {
  margin: 0 !important;
}

// ラベルの色の設定
span.label-onewaylove{
  background-color: #eb6ea0;
}
span.label-affair{
  background-color: #4d4398;
}
span.label-battle{
  background-color: #000000;
}

@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .main-header .navbar {
      margin-left: 0px;
  }
  .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .right-side, .sidebar-mini.sidebar-collapse .main-footer {
      margin-left: 0px !important;
  }
  .sidebar-collapse.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header {
    display: none;
  }
}
