#top_page .content-wapper{
  margin: 0 !important;
  height:100%;
  //background-image: url(/background_img.jpg);
  //background-position: center center;
  //background-repeat: no-repeat;
  //background-attachment: fixed;
  //background-size: cover;
}



/*
.page-header[filter-color="lightgreen"]{
  background: rgba(44, 44, 44, 0.2);
  background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
  background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
  background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
  background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));

}
*/
.title_issue{
  text-align: center;
}

#top_page .title_issue h2{

  margin:30% 0;
  font-family: "Yu Mincho";
  font-weight: bold;

}
