.pase{
  width: 100%;
}

h1{
  font-size: 25px;
  text-align: center;
}

.category-position{
  float: right;
  margin-right: 14px;
}

.box7{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #474747;
    background: white;/*背景色*/
    border-left: double 7px #4ec4d3;/*左線*/
    border-right: double 7px #4ec4d3;/*右線*/
}
.box7 p {
    margin: 0;
    padding: 0;
}
