main{
 margin-top: 13vh;
}
body{
 margin-top: 8%;
 background-color: oldlace;
}



.header{
 height:20vh;
}

.header_area {
 position: fixed; /* 固定 */
 top: 0; /* 一番上に表示 */
 width: 100%; /* 中央に表示 */
}

.header_block {
 background: white;
}

.header_box {
 margin: auto auto;
}

.header_box h1 {
 margin: 0;
 padding: 0;
 text-align: center;
}

.menu{
 float: right;

}

.logo{
 display: table-cell;
 vertical-align: middle;
}

img.menu-logo{
 z-index: 30;
 margin-right: 5%;
 height:10vh;
}

img.menubar-logo{
 height:10vh;

}

img.logo{
 z-index:10;
 height:10vh;
}

.sidebar{
 position: fixed;
 color: #fff;
 z-index: 5;
}

.sidebar.right {
 top: 0;
 right: 0;
 bottom: 0;
 width: 20vw;
 background: #ffa265;
 color:white;
}

.all_menu_list{
 margin-top: 20vh;
 background-color: #000;
}

ul.menu_sidebar{
 display: block;
 margin: 0;
　padding: 0;
　text-align: center;
　list-style-type: none;
}

ul.menu_sidebar li.menu_list{
 display: inline;
}

li.menu_list{
 display: block;
 text-decoration-style:  none;
 color: #fff;
 border-top: 1px solid #fff;
 width:20vw;
 height: 10vh;
}

li.menu_last{
 border-bottom: 1px solid #fff;
}

li.menu_list a:hover{
 color: #fff;
　background-color: #000000;
}

.row{
 text-align: center;
}


// デザインができるまで仮のcss。できたら消してもOK!
// ヘッダーみたいに横並びにする
ul{
 display: inline;
 float: none;
 li{
   float: right;
   padding-right: 0;
   padding-top: 15px;
 }
}






#login h2{
 font-weight: bold;
}

#login_main input.login_information{
 width: 70vw;
 margin: 0 auto;
}

#login_main input.login_information_mailaddress{
 width: 70vw;
 margin: 0 auto;
}

#login_main label.form_name{
 margin-left: 15%;
 margin-top: 3%;
}

#login_main label.remenber_me{
 margin-top: 3%;
 margin-bottom: 3%;
 margin-left: 15%;
}

#login_main button.login{
 width: 30%;
 margin-left:  35%;
}

#login {
 text-align: center;
}



#user_touroku {
 text-align: center;
}

#user_touroku_main input.touroku_information{
 width: 70vw;
 margin: 0 auto;
}

#user_touroku_main label.form_name{
 margin-left: 15%;
 margin-top: 3%;
}

#user_touroku_main button.user_touroku{
 width: 30%;
 margin-left:  35%;
 text-align: center;
}

#user_touroku_main main{
 margin-top: 6%;
}
