.main{
  width:100%;
  //margin-top: 100px;
}

h2{
  text-align: center;
}

/*li.center{
  color: black;
  padding-top: 10px;
  list-style: none;
  width:20%;
}*/

/*img.logo{
  margin: 0 auto;
  padding-top: 9px;
}*/

.form{
  display: block;
  margin-right: 10px;
  width:90%;
  float: left;
}

.contribution{
  text-align: center;
  list-style: none;
  padding-top: 20px;
  font-size: 1.2em;
}

.round_off{
	border:solid 1px;           //枠の太さ
	//-moz-border-radius: 10px; //これもテキストエリア丸くするやつ？
	-webkit-border-radius: 5px; //テキストエリアの角の丸み具合
  outline: none;

}

label.title{
  font-size: 17px;
  margin-top: 7%;
  margin-left: 5%;
}
