//@media screen and (max-width: 750px) {
  body{
    background-color: #fff0dd;
  }
.center{
  color: black;
  text-align: center;
  font-size: 25px;
  padding-top: 30px;
  list-style: none;
}

img.logo{
  float: left;
  padding-top: 9px;
}

.form{
  display: block;
  margin-right: 10px;
    width:90%;
    float: left;
}

.contribution{
  text-align: center;
  list-style: none;
  padding-top: 20px;
  font-size: 1.2em;
}

.page{
  list-style: none;
}
.round_off{
	border:2px solid #e8e8e8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.aaa{
  font-size: 17px;
}
//}
