//@media screen and (max-width: 750px) {
  body{
    background-color: #fff0dd;
    
  }
ul.page{
  width:100%;
}

li.center{
  color: black;
  padding-top: 10px;
  list-style: none;
  width:20%;
}

li.section{
  text-align: center;
  width:70%;
  font-size: 25px;
}

img.logo{
  margin: 0 auto;
  padding-top: 9px;
}

.form{
  display: block;
  margin-right: 10px;
    width:90%;
    float: left;
}

.contribution{
  text-align: center;
  list-style: none;
  padding-top: 20px;
  font-size: 1.2em;
}

.page{
  list-style: none;
}
.round_off{
	border:solid 1px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 5px;
}

label.title{
  font-size: 17px;
  margin-top: 7%;
  margin-left: 5%;
}
//}
