body{
  width: 100%;
  background-color: #ecf0f5;
  min-height: 490px;
}

#font_size{
  font-size: 14px;
}

.title-info{
  text-decoration: underline;
}

#wrapper{
     margin: 20px auto;
     width:96%;
     background-color: #ecf0f5;
}

.form {
  margin:20px;
}

textarea.comment-form {
  width: 100%;
  height:30%;
}
.commentsuru_btn {
  padding:0 !important;
}
@media screen and (max-device-width: 540px) {
  .commentsuru_btn {
    padding:15px !important;
  }
}
textarea.additional-anformation{
  width: 70%;
  margin-left: 9px;
}


.arrow_answer,
.arrow_question {
    position: relative;
    background: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
    width:80%;
    font-size: 11px;
    padding:3%;
}




.arrow_question {
    float: right;
}


.arrow_answer:after,
.arrow_answer:before,
.arrow_question:after,
.arrow_question:before {
  top: 25px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}




.arrow_question:after,
.arrow_question:before {
    right: 100%;
}


.arrow_answer:after,
.arrow_answer:before{
     left: 100%;
}


.arrow_answer:after,
.arrow_question:after {
    border-color: rgba(255, 255, 255, 0);
    border-width: 8px;
    margin-top: -8px;
}


.arrow_answer:after{
    border-left-color: #fff;
}


.arrow_question:after{
    border-right-color: #fff;

}


.arrow_answer:before,
.arrow_question:before {
    border-color: rgba(200, 200, 200, 0);
    border-width: 9px;
    margin-top: -9px;
}


.arrow_answer:before{
    border-left-color: #c8c8c8;
}


.arrow_question:before {
    border-right-color: #c8c8c8;
}


.question_image{
     float: left;
     width:15%;
}


.answer_image{
     float: right;
     width:15%;
}


.answer_image img,
.question_image img{
     border-radius: 50px;
     width: 100%
}


.question_Box{
     width: 100%;
     overflow: hidden;
     background-color: #ecf0f5;
}

.reply-main{
  background-color: #ecf0f5;
}

textarea.reply-form{
  width:70%;
  float: left;
  margin-left: 10px;
  border: solid 1px #aaa;
}

.wakaru_before{
  margin-top: 8px;
  display: block;
  text-decoration: none;
  height:25px;
  width: 70px;
  line-height: 9px;
  text-align: center;
  color: #fff;
  background: #EEFFFF;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  border-radius: 20px;
}

.wakaru_after{
  margin-top: 8px;
  display: block;
  text-decoration: none;
  height:25px;
  width: 70px;
  line-height: 9px;
  text-align: center;
  color: #fff;
  background: #FFBEDA;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  border-radius: 20px;
}
.wakaru_after a{
  color:white;
}
.wakaru_girl_before{
  margin-top: 8px;
  display: block;
  text-decoration: none;
  height:25px;
  width: 70px;
  line-height: 25px;
  text-align: center;
  background: #EEFFFF;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  border-radius: 20px;
}
.wakaru_before a{
  color:#FFBEDA;
}
.wakaru_before{
  color:#FFBEDA;
}
.wakaru_girl_after{
  margin-top: 8px;
  display: block;
  text-decoration: none;
  height:25px;
  width: 70px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background: #FFBEDA;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  border-radius: 20px;
}

.naruho_before{
  margin-top: 8px;
  display: block;
  text-decoration: none;
  height:25px;
  width: 70px;
  line-height: 9px;
  text-align: center;
  color: #fff;
  background: #EEFFFF;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  border-radius: 20px;
}

.naruho_after{
  margin-top: 8px;
  display: block;
  text-decoration: none;
  height:25px;
  width: 70px;
  line-height: 9px;
  text-align: center;
  color: #fff;
  background: #119de9;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  border-radius: 20px;
}

.naruho_men_before{
  margin-top: 8px;
  display: block;
  text-decoration: none;
  height:25px;
  width: 70px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background: #EEFFFF;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  border-radius: 20px;
}

.naruho_men_after{
  margin-top: 8px;
  display: block;
  text-decoration: none;
  height:25px;
  width: 70px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background: #119de9;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  border-radius: 20px;
}


.migi{
  float: right;
}

.migi_gomi_1{
  float: right;
  line-height: 30px;
  margin-right: 5px;
}


.migi_gomi{
  float: right;
  line-height: -10;
}

.reply-area {
  width: 80%;
  font-size: 11px;
  padding-bottom: 3%;
  float: right;

}

.reply-content{
  background-color: white;
}


img.logo{
  float: left;
  margin-left: 9px;
}

.panel-body{
  padding: 5px;
}


#show_comment .form-comment{
  width:100%;
}



#show_comment li{
  color: black;
  padding-top: 10px;
  width:60%;
  list-style: none;
}

/*#show_comment li.comment_btn{
  width:20%;
  list-style: none;
}*/

#show_comment ul{
  float: left;
}


/*
.comment textarea{
  width:30%;
  margin-left: 5%;
}

.comment input{
  width:50%;
}
*/
.center{
  text-align: center;
  font-size: 20px;
}

.box2 {
    background-color: white;
    padding: 0.1em 1em;
    margin-right: 10px;
    margin-left: 50px;
    color: black;/*文字色*/
    border: solid 1px ;/*線*/
    border-radius: 10px;/*角の丸み*/
    word-break: break-all;
}
.box2 p {
    margin: 0;
    padding: 0;
}

.box3 {
    background-color: white;
    padding: 0.1em 1em;
    margin-right: 50px;
    color: black;/*文字色*/
    border: solid 1px ;/*線*/
    border-radius: 10px;/*角の丸み*/
    word-break: break-all;
}
.box3 p {
    margin: 0;
    padding: 0;
}



.botton-comment{
  background-color: white;
  padding: 0.5em 1em;
  margin-right: 10px;
  margin-left: 50px;
  border: solid 1px ;/*線*/
  border-radius: 10px;
}

.button {
  border: 1px solid #15aeec;
  background-color: #49c0f0;
  background-image: -webkit-linear-gradient(top, #49c0f0, #2cafe3);
  background-image: linear-gradient(to bottom, #49c0f0, #2cafe3);
  border-radius: 4px;
  color: #fff;
  line-height: 25px;
  -webkit-transition: none;
  transition: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.button:hover {
  border:1px solid #1090c3;
  background-color: #1ab0ec;
  background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
  background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);
}
.button:active {
  background: #1a92c2;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);
  color: #1679a1;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
}


.button2 {
  border: 1px solid #15aeec;
  background-color: #49c0f0;
  background-image: -webkit-linear-gradient(top, #49c0f0, #2cafe3);
  background-image: linear-gradient(to bottom, #49c0f0, #2cafe3);
  border-radius: 4px;
  color: #fff;
  line-height: 25px;
  -webkit-transition: none;
  transition: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  float: right;
}
