<<<<<<< HEAD
body{
  
}
=======
/*body{
  max-width: 700px;
}*/
>>>>>>> b950d507170b39247d107fb82151e70d0fbf4f53

.box2 {
    padding: 0.5em 1em;
    margin: 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.box2 p {
    margin: 0;
    padding: 0;
}
